body{
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    background-color: rgb(228, 228, 228);   
}
.home{
    display: flex;
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: center;
    background: rgb(155,155,235);
    background: linear-gradient(188deg, rgba(155,155,235,1) 0%, rgba(36,35,82,1) 93%);
    color: white;
    box-shadow: -3px 1px 13px 0px rgba(0,0,0,0.75);
}
.acceuil{
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-between;
}
.title{
    font-size: 35px;
    font-family: 'Monoton', cursive;
    color: white;
}
.panier{
    display: flex;
    justify-content: space-around;
}
.panier_text{
    margin-left: 5px;
}
.section_titre{
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
    font-family: 'Monoton', cursive;
    
}
#article{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#produitImage{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
h5{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
}

.container{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
a{
    text-decoration: none;
    color: white;
}

.name{
    display: flex;
    justify-content: center;
    font-family: 'Monoton', cursive;
    font-size: 30px;
    margin-top: 1px;
}
.img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    object-fit: cover;
    margin-top: -25px;
    box-shadow: -3px 1px 13px 0px rgba(0,0,0,0.75);
    border-radius: 5%;
}
.img1{
    width: 50%;
}
.carte{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    height: 380px;
    margin-bottom: 20px;
    background: rgb(155,155,235);
    background: linear-gradient(188deg, rgba(155,155,235,1) 0%, rgba(36,35,82,1) 93%);
    border-radius: 5%;
    color: white;
}
.carte1{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    height: 620px;
    background-color: rgb(155, 155, 235);
    border-radius: 10%;
    color: rgb(36, 35, 82);
}
.carte:hover{
    cursor: pointer;
    box-shadow: -3px 1px 13px 0px rgba(0,0,0,0.75);
}
.text_info{
    text-align: center;
    font-weight: bold;
    display: flex;
    justify-content: center;
    
}
.text_info1{
    display: flex;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.text_info2{
    display: flex;
    font-size: 20px;
    justify-content: center;
    font-weight: bold;
    text-align: center;
    margin-right: 10px;
}


.carte_info{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: -10px;
}
.foot{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(36, 35, 82);
    color: white;
    height: 170px;
    box-shadow: -3px 1px 13px 0px rgba(0,0,0,0.75);
}
.foot1{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(36, 35, 82);
    color: white;
    height: 170px;
    box-shadow: -3px 1px 13px 0px rgba(0,0,0,0.75);
}
section{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 680px;

}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn_ajout{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
}
#couleurs{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}
.ml7 {
    display: flex;
    justify-content: center;
    font-family: 'Monoton', cursive;
    font-weight: 900;
    font-size: 3.7em;
  }
  .ml7 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
  }
  .ml7 .letter {
    transform-origin: 0 100%;
    display: inline-block;
    line-height: 1em;
  }
@media screen and (min-width: 371px) and (max-width: 510px){
    .carte{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        height: 450px;
        background-color: rgb(155, 155, 235);
        border-radius: 5%;
        color: white;
    }
}
@media screen and (min-width: 511px) and (max-width: 620px){
    .img{
        width: 90%;
    }
    .carte{
        display: flex;
        width: 70%;
        flex-direction: column;
        align-items: center;
        height: 450px;
        background-color: rgb(155, 155, 235);
        border-radius: 5%;
        color: white;
    } 
    .text_info{
        width: 90%;
    }
    .container{
        width: 100%;
    }

}
@media screen and (min-width: 620px) and (max-width: 824px){
    .img{
        width: 70%;
    }
    .carte{
        display: flex;
        width: 80%;
        flex-direction: column;
        align-items: center;
        height: 450px;
        background-color: rgb(155, 155, 235);
        border-radius: 5%;
        color: white;
    } 
    .text_info{
        width: 90%;
    }
}
@media screen and (min-width: 825px) and (max-width: 1010px){
    .img{
        width: 90%;
    }
    .carte{
        display: flex;
        width: 90%;
        flex-direction: column;
        align-items: center;
        height: 450px;
        background-color: rgb(155, 155, 235);
        border-radius: 5%;
        color: white;
    } 
    .container{
        width: 50%;
    }
    .text_info{
        width: 90%;    
    }
 
    
}
@media screen and (min-width: 1011px) and (max-width: 1180px){
    .img{
        width: 400px;
    }
    .carte{
        display: flex;
        width: 445px;
        flex-direction: column;
        align-items: center;
        height: 450px;
        background-color: rgb(155, 155, 235);
        border-radius: 5%;
        color: white;
    } 
    .container{
        width: 50%;
    }
    .text_info{
        width: 90%;    
    }
}
@media screen and (min-width: 1181px) and (max-width: 1400px){
    .img{
        width: 80%;
    }
    .carte{
        display: flex;
        width: 90%;
        flex-direction: column;
        align-items: center;
        height: 480px;
        background-color: rgb(155, 155, 235);
        border-radius: 5%;
        color: white;
    } 
    .container{
        width: 45%;
    }
    .text_info{
        width: 90%;    
    }
}
@media screen and (min-width: 1401px) and (max-width: 1650px){
    .img{
        width: 60%;
    }
    .carte{
        display: flex;
        width: 90%;
        flex-direction: column;
        align-items: center;
        height: 450px;
        background-color: rgb(155, 155, 235);
        border-radius: 5%;
        color: white;
    } 
    .container{
        width: 45%;
    }
    .text_info{
        width: 90%;    
    }

}
@media screen and (min-width: 1651px) and (max-width: 1800px){
    .img{
        width: 70%;
    }
    .carte{
        display: flex;
        width: 90%;
        flex-direction: column;
        align-items: center;
        height: 450px;
        background-color: rgb(155, 155, 235);
        border-radius: 5%;
        color: white;
    } 
    .container{
        width: 40%;
    }
    .text_info{
        width: 90%;    
    }

}
@media screen and (min-width: 1801px) and (max-width: 2500px){
    .img{
        width: 60%;
    }
    .carte{
        display: flex;
        width: 90%;
        flex-direction: column;
        align-items: center;
        height: 480px;
        background-color: rgb(155, 155, 235);
        border-radius: 5%;
        color: white;
    } 
    .container{
        width: 40%;
    }
    .text_info{
        width: 100%;    
    }

}
}
  