body{
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    background-color: rgb(186, 193, 207);   
    margin: 0;
}

.home{
    display: flex;
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: center;
    background: rgb(155,155,235);
    background: linear-gradient(188deg, rgba(155,155,235,1) 0%, rgba(36,35,82,1) 93%);
    color: white;
    box-shadow: -3px 1px 13px 0px rgba(0,0,0,0.75);
}
.acceuil{
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-between;
}
.title{
    font-size: 35px;
    font-family: 'Monoton', cursive;
    color: white;
}
.title1{
    font-size: 20px;
    font-family: 'Monoton', cursive;
    color: white;
}
.panier{
    display: flex;
    font-family: 'Monoton', cursive;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin-left: 15px;
}
.panier_text{
    margin-left: 5px;
}
.section_titre{
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
    font-family: 'Monoton', cursive;
    
}
#article{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#produitImage{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
h5{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
}

.container{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
a{
    text-decoration: none;
    color: white;
}

.name{
    display: flex;
    justify-content: center;
    font-family: 'Monoton', cursive;
    font-size: 30px;
    margin-top: 1px;
}
.img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    
    object-fit: cover;
    margin-top: -25px;
    box-shadow: -3px 1px 13px 0px rgba(0,0,0,0.75);
    border-radius: 5%;
}
img{
    width: 30%;
}
#productImage{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.img1{
    width: 70%;
    border-radius: 10px;
    margin-top: -60px;
    box-shadow: -3px 1px 13px 0px rgba(0,0,0,0.75);
    
}
.btnInputQt{
    display: flex;
    align-items: center;

}
.btnInputQt input{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    box-shadow: none;
}
.btnInputP,.btnInputM{
    height: 36px;
    width: 30px;
}
.carte{
    display: flex;
    width: auto;
    flex-direction: column;
    align-items: center;
    height: 400px;
    background: rgb(155,155,235);
    background: linear-gradient(188deg, rgba(155,155,235,1) 0%, rgba(36,35,82,1) 93%);
    margin-bottom: 20px;
    border-radius: 5px;
    color: white;
}
.carte1{
    display: flex;
    width: 80%;
    align-items: center;
    height: 800px;
    background: rgb(155,155,235);
    background: linear-gradient(188deg, rgba(155,155,235,1) 0%, rgba(36,35,82,1) 93%);
    border-radius: 5px;
    color: white;
    box-shadow: -3px 1px 13px 0px rgba(0,0,0,0.75);
}
.carte:hover{
    cursor: pointer;
    box-shadow: -3px 1px 13px 0px rgba(0,0,0,0.75);
}
.text_info{
    width: 90%;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    display: flex;
    justify-content: center;
    
}
.text_info1{
    display: flex;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.text_info3{
    display: flex;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
.text_info2{
    display: flex;
    font-size: 20px;
    justify-content: center;
    font-weight: bold;
    text-align: center;
    margin-right: 10px;
}


.carte_info{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: -10px;
}
.foot{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(36, 35, 82);
    color: white;
    height: 170px;
    box-shadow: -3px 1px 13px 0px rgba(0,0,0,0.75);
}
.foot1{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(36, 35, 82);
    color: white;
    height: 170px;
    box-shadow: -3px 1px 13px 0px rgba(0,0,0,0.75);
}
section{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 680px;

}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn_ajout{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    border-radius: 10px;
    
}
.btn_ajout:hover{
    cursor: pointer;
    background-color:rgb(36, 35, 82);
    color: white;
    box-shadow: -3px 1px 13px 0px rgba(white);
}

.containerCommander{
    display: flex;
    align-items: center;
    justify-content: center;

}
.ml7 {
    display: flex;
    justify-content: center;
    font-family: 'Monoton', cursive;
    font-weight: 900;
    font-size: 30px;
  }
  .ml7 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
  }
  .ml7 .letter {
    transform-origin: 0 100%;
    display: inline-block;
    line-height: 1em;
  }
 
#produit{
    height: 580px;
}
.contact{
    margin-bottom: 10px;
}
.margin{
    margin-right: 10px;
}
.prix{
    display: flex;
    align-items: center;
    margin-right: 15px;
}
.containerAll{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.containerPrix{
    display: flex;
    width: 80%;
    justify-content: space-between;
}
.containerPanier{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.container_panier{
    display: flex;
    align-items: center;
    justify-content: center;
}
.produitPanier{
    width: 60%;
    color: black;
    font-size: 20px;
    font-weight: bold;
}
.bold{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    width: 100%
}
input{
    border-radius: 10px;
    height: 30px;
}

.width{
    width: 100%;
}
#panierVide{
    height: auto;
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#ctn{
    height: auto;
}
.fa-trash-alt{
    cursor: pointer;
}
.fa-trash-alt:hover{
    cursor: pointer;
    font-size: 15px;
}

.eltForm{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.pagePanier{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container_form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
}
.eltForm{
    height: auto;
   width: 400px;
    display: flex;
   justify-content: center;
   background: rgb(155,155,235);
   background: linear-gradient(188deg, rgba(155,155,235,1) 0%, rgba(36,35,82,1) 93%);
   padding: 20px;
   color: white;
    flex-direction: column;
    border-radius: 10px 10px 10px 10px;
    box-shadow: -3px 1px 13px 0px rgba(0,0,0,0.75);
    margin-bottom: 50px;
    
}
.contenant{
    height: 600px;
    position: relative;
    text-align: center;
    color:white;
}
.textAcceuil {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 70%;
    font-weight: bold;
    transform: translate(-50%, -50%);
    font-size: 50px;
    box-shadow: -3px 1px 13px 0px rgba(0,0,0,0.75);
    background: rgb(155,155,235);
    background: linear-gradient(188deg, rgba(155,155,235,1) 0%, rgba(36,35,82,1) 93%);
    border-radius: 15px;
    padding: 20px;
   
  }
.cgv{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.container_panier{
    
    color: white;
    height: 1500px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    height: auto; 
    
    padding-left: 50px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(155,155,235);
    background: linear-gradient(188deg, rgba(155,155,235,1) 0%, rgba(36,35,82,1) 93%);
    box-shadow: -3px 1px 13px 0px rgba(0,0,0,0.75);
}
.ctnBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.fa-shopping-cart{
    position: relative;

}
.panierIcon{
    display: flex;
    justify-content: center;
    align-items: center;
}
#totalPrice{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    padding: 10px;
    border: 2px solid white;
    border-radius: 25px;
   margin-left: -20px;


}
.totalPrice{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#basketPreview{
    display: block;
    position: absolute;
    top: 5%;
    right: 9.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    width: 15px;
    font-family: 'Roboto', sans-serif;
    border: 1px solid red;
    background-color: red;
    border-radius: 25px 25px 25px 25px;
    color: black;
    font-weight: bold;
}

.container_panier1{   
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    display: flex;
    height: auto;
    padding-left: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(176, 155, 235);
   border: 1px solid black;
}
.trTitre{
    font-size: 25px;
}
tr{
   margin-bottom: 35%;
    font-weight: bold;
}
td{
   
    width: 150px;
    height: 50px;
    margin-bottom: 35%;
}
td .img1{
    
    margin-bottom: -18%;
    width: 80px;
}
td .img1:hover{
    width: 150px;
}
.td{
    display: flex;
    justify-content: center;
    align-items: center;
}
.order{
    font-weight: bold;
    font-size: 25px;
}  
.container_order{
    opacity: 0.9;
    text-align: center;
   width: 50%;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 38%;
    left: 20%;
    padding: 50px;
    background: rgb(155,155,235);
    border-radius: 10px;
    box-shadow: -3px 1px 13px 0px rgba(0,0,0,0.75);
}


#contact{
    height: 900px;
    background-image: url(confettis.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    box-shadow: -3px 1px 13px 0px rgba(0,0,0,0.75);
}
  

.imgAcceuil{
    
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
@media screen and (max-width: 370px){
    .textAcceuil{
        font-size: 30px;
    }
    .img1{
        margin-top: 0px;
    }
}
@media screen and (min-width: 371px) and (max-width: 510px){
    .textAcceuil{
        font-size: 30px;
    }
    .carte{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        height: 450px;
        background-color: rgb(155, 155, 235);
        border-radius: 10px;
        color: white;
    }
    .img1{
        margin-top: 0px;
    }
}
@media screen and (min-width: 430px) and (max-width: 600px){
    .textAcceuil{
        font-size: 35px;
    }
    #produit{
        height: 610px;
    }
    .carte1{
        display: flex;
        width: 80%;
        align-items: center;
        height: 700px;
        background: rgb(155,155,235);
        background: linear-gradient(188deg, rgba(155,155,235,1) 0%, rgba(36,35,82,1) 93%);
        border-radius: 10px;
        color: white;
        
    }
    .img1{
        width:70%;
        margin-top: 0px;
    }
    .foot1{
        margin-top: 50px;
    }
}
@media screen and (min-width: 601px) and (max-width: 760px){
    .textAcceuil{
        font-size: 40px;
    }
    .section1{
        height: 800px;
    }
    #produit{
        height: 660px;
    }
    .carte1{
        display: flex;
        width: 80%;
        align-items: center;
        height: 740px;
        background: rgb(155,155,235);
        background: linear-gradient(188deg, rgba(155,155,235,1) 0%, rgba(36,35,82,1) 93%);
        border-radius: 10px;
        color: white;
        
    }
    .img1{
        width:70%;
        margin-top: 0px;
    }
    .foot1{
        margin-top: 50px;
    }
}
@media screen and (min-width: 511px) and (max-width: 620px){
    .img{
        width: 90%;
    }
    .carte{
        display: flex;
        width: 70%;
        flex-direction: column;
        align-items: center;
        height: 450px;
        background-color: rgb(155, 155, 235);
        border-radius: 10px;
        color: white;
    } 
    .text_info{
        width: 90%;
    }
    .container{
        width: 100%;
    }

}
@media screen and (min-width: 761px) and (max-width: 2800px){
    .section1{
        height: 800px;
    }
    #produit{
        height: 740px;
    }
    .carte1{
        display: flex;
        width: 586px;
        align-items: center;
        height: 760px;
        background: rgb(155,155,235);
        background: linear-gradient(188deg, rgba(155,155,235,1) 0%, rgba(36,35,82,1) 93%);
        border-radius: 10px;
        color: white;
        
    }
    .img1{
        width: 469px;
    }
    .foot1{
        margin-top: 50px;
    }
    .name1{
        font-size: 40px;
    }


}
@media screen and (min-width: 620px) and (max-width: 824px){
    .img{
        width: 70%;
    }
    .carte{
        display: flex;
        width: 80%;
        flex-direction: column;
        align-items: center;
        height: 450px;
        background-color: rgb(155, 155, 235);
        border-radius: 10px;
        color: white;
    } 
    .text_info{
        width: 90%;
    }
}
@media screen and (min-width: 825px) and (max-width: 1010px){
    .img{
        width: 90%;
    }
    .carte{
        display: flex;
        width: 90%;
        flex-direction: column;
        align-items: center;
        height: 450px;
        background-color: rgb(155, 155, 235);
        border-radius: 10px;
        color: white;
    } 
    .container{
        width: 50%;
    }
    .text_info{
        width: 90%;    
    }
 
    
}
@media screen and (min-width: 1011px) and (max-width: 1180px){
    .img{
        width: 400px;
    }
    .carte{
        display: flex;
        width: 445px;
        flex-direction: column;
        align-items: center;
        height: 450px;
        background-color: rgb(155, 155, 235);
        border-radius: 10px;
        color: white;
    } 
    .container{
        width: 50%;
    }
    .text_info{
        width: 90%;    
    }
}
@media screen and (min-width: 1181px) and (max-width: 1400px){
    .img{
        width: 80%;
    }
    .carte{
        display: flex;
        width: 90%;
        flex-direction: column;
        align-items: center;
        height: 480px;
        background-color: rgb(155, 155, 235);
        border-radius: 10px;
        color: white;
    } 
    .container{
        width: 45%;
    }
    .text_info{
        width: 90%;    
    }
    .ml7{
        font-size: 50px;
    }
}
@media screen and (min-width: 1401px) and (max-width: 1650px){
    .img{
        width: 70%;
        height: 280px;
    }
    .carte{
        display: flex;
        width: 90%;
        flex-direction: column;
        align-items: center;
        height: 450px;
        background-color: rgb(155, 155, 235);
        border-radius: 10px;
        color: white;
    } 
    .container{
        width: 45%;
    }
    .text_info{
        width: 90%;    
    }
    .ml7{
        font-size: 50px;
    }

}
@media screen and (min-width: 1651px) and (max-width: 1800px){
    .img{
        width: 70%;
        height: 300px;
    }
    .carte{
        display: flex;
        width: 90%;
        flex-direction: column;
        align-items: center;
        height: 450px;
        background-color: rgb(155, 155, 235);
        border-radius: 10px;
        color: white;
    } 
    .container{
        width: 40%;
    }
    .text_info{
        width: 90%;    
    }
    .ml7{
        font-size: 50px;
    }

}
@media screen and (min-width: 1801px) and (max-width: 2800px){
    #article{
        height: 1000px;
    }
    .img{
        width: 80%;
        height: 300px;
    }
    .carte{
        display: flex;
        width: 90%;
        flex-direction: column;
        align-items: center;
        height: 480px;
        background-color: rgb(155, 155, 235);
        border-radius: 10px;
        color: white;
    } 
    
    .container{
        width: 30%;
    }
    .text_info{
        width: 100%;    
    }
    .ml7{
        font-size: 50px;
    }

}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}